<div class="container card shadow col-6 mt-4 p-2">
  <h1>Legal Help Form:</h1>
  <%= simple_form_for @form_submission do |f| %>
    <%= f.input :name ,as: :string%>

    <%= f.input :country_of_origin ,as: :string%>

    <%= f.input :languages, as: :string %>

    <%= f.input :location, as: :select, collection: ['Camp', 'Self-accommodated'] %>

    <%= f.input :asylum_procedure_stage, as: :select, collection: ['Registration', 'Upcoming IV appointment', 'First decision pending', 'Second decision pending', 'Third decision pending', 'Notified subsequent application', 'Refugee status'] %>

    <%= f.input :legal_request, as: :select, collection: ['Interview preparation', 'Appeal', 'Family reunification'] %>

    <%= f.input :family_members_in_greece, as: :boolean %>

    <%= f.input :urgent, as: :boolean %>
    <% if f.object.urgent? %>
      <%= f.input :urgent_conditions, as: :string %>
    <% end %>

    <%= f.input :detention, as: :boolean %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

</div>
