<div class="container card shadow col-6 mt-2 pb-2">
  <h1>Legal Help Form:</h1>
  <%= simple_form_for @form_submission do |f| %>
    <%= f.input :name ,as: :string%>

    <%= f.input :country_of_origin ,as: :string%>

    <%= f.input :languages, as: :string %>

    <%= f.input :location, as: :select, collection: ['Camp', 'Self-accommodated'] %>

    <%= f.input :asylum_procedure_stage, as: :select, collection: ['Registration', 'Upcoming IV appointment', 'First decision pending', 'Second decision pending', 'Third decision pending', 'Notified subsequent application', 'Refugee status'] %>

    <%= f.input :legal_request, as: :select, collection: ['Interview preparation', 'Appeal', 'Family reunification'] %>

    <%= f.input :family_members_in_Greece, as: :boolean %>

    <%= f.input :urgent, as: :boolean, label: "Urgent?"%>
    <div class="ms-3">
      <p>Urgent cases are considered the following:</p>
      <p>• Upcoming interview appointment in <strong>less than a week</strong>.</p>
      <p>• Deadline for appeal <strong>less than 2 weeks</strong>.</p>
      <p>• Detention (*Please note that our organisation can assist only in particular cases of detention after the <strong>notification of the second / third rejection</strong>).</p>
    </div>
    <%= f.input :detention, as: :boolean %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

</div>
